{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" class="left-chapters">
            <nav aria-label="breadcrumb" class="ms-2">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-secondary" href="{% url 'main' %}">Главная страница</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
                </ol>
            </nav>
        </td>
    </tr>
</table>
<div class="container d-flex flex-column">
<h1 class="text-center">{{ card.name }}</h1>
    <hr class="line"> </hr>
{% if card.photo %}
    <p class="d-block mx-auto"><img class="card-img img-fluid rounded img-thumbnail" src="{{card.photo.url}}"></p>
{% endif %}
    <hr class="line">
    <h4>Описание</h4>
    <p>Был найден в {{card.place_found}} {{card.time_found}}</p>
    <p>{{card.content|linebreaks}}</p>
    <hr class="line">
    <h4>Состояние</h4>
    <p>В данный момент:
        {% if card.status %}
        Находится в корпусе
        {% else %}
        Возвращен
        {% endif %}
    </p>

    {% if request.user.is_authenticated %}
    {% if user_mark %}
        <p>Вы уже отметили этот предмет</p>
        <a href="{% url 'unmark_card' card.pk %}"><button type="button" class="btn btn-outline-secondary mb-2"> Удалить отметку</button></a>
    {% else %}
        <a href="{% url 'mark_card' card.pk %}"><button type="button" class="btn btn-outline-secondary mb-2"> Отметить предмет</button></a>
    {% endif %}
    {% else %}
    <p>Чтобы отметить карточку, <a href="{% url 'login' %}">авторизуйтесь.</a></p>
    {% endif %}

    <hr class="line">
    <h4>Комментарии</h4>
    {% if request.user.is_authenticated %}
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Напишите ваш комментарий</label>
        <form action="{% url 'comment' card.pk %}" method="post">
            {% csrf_token %}
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text"></textarea>
        <a href="{% url 'comment' card.pk %}"><button type="submit" class="btn btn-outline-secondary"> Добавить комментарий</button></a>
        </form>
    </div>
    {% else %}
        <label for="exampleFormControlTextarea1" class="form-label">Пожалуйста, <a href="{% url 'login' %}">авторизуйтесь</a>, чтобы оставить комментарий.</label>
    {% endif %}
    <section>
    {% if comment %}

        {% for com in comment %}
            <article class="border border-secondary rounded p-2 mt-3 mb-3 bg-dark">
                {% if request.user.pk != com.user.pk %}
                <a href="{% url 'user' com.user.pk %}"
                   class="d-flex align-items-center link-light text-decoration-none mb-3">
                    {% if com.user.photo %}
                    <div class="profile-photo-comment-2 rounded-circle me-3"
                         style="background-image: url('{{ com.user.photo.url }}');">
                    </div>
                    {% else %}
                    <div class="profile-photo-comment-2 rounded-circle me-3"
                         style="background-image: url('{% static 'main/images/defaultprof.jpeg' %}'); ">
                    </div>
                    {% endif %}
                    <div class="d-flex flex-column">
                        <div class="fs-4">{{ com.user.username }}</div>
                        <div class="">{{ com.time_create }}</div>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'profile' %}"
                   class="d-flex align-items-center link-light text-decoration-none mb-3">
                    {% if com.user.photo %}
                    <div class="profile-photo-comment-2 rounded-circle me-3"
                         style="background-image: url('{{ com.user.photo.url }}');">
                    </div>
                    {% else %}
                    <div class="profile-photo-comment-2 rounded-circle me-3"
                         style="background-image: url('{% static 'main/images/defaultprof.jpeg' %}'); ">
                    </div>
                    {% endif %}
                    <div class="d-flex flex-column">
                        <div class="fs-4">{{ com.user.username }}</div>
                        <div class="">{{ com.time_create }}</div>
                    </div>
                </a>
                {% endif %}
                <hr  style="color:white; ">
                <div class="text-light"><p class="ps-2">{{ com.text|linebreaks }}</p></div>
                {%if request.user.pk == com.user.pk%}
                <button class="btn btn-secondary">Удалить комментарий</button>
                {% endif %}
            </article>
      {% endfor %}
    {% else %}
    <p>Комментариев пока нет.</p>
    </section>
    {% endif %}

</div>

{% endblock %}
