<footer class="p-3 bg-dark text-white mt-auto">
    <div class="container">
        <div>
                © 2017-2024 Федеральное государственное бюджетное образовательное учреждение высшего образования «КОСТРОМСКОЙ  ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ»<br>
                Лицензия на осуществление образовательной деятельности КГУ № 2371 от 06.09.2016 года.
                <br>
                Свидетельство о государственной аккредитации № 3811 от 07.07.2023 года.
                <br>
                156005, Костромская область, городской округ город Кострома, город Кострома, улица Дзержинского, дом 17/11<br>
                Тел. +7 (4942) 63-49-00 (доб. 1010) (ректорат), +7 (4942) 63-49-00 (доб. 644) (приемная комиссия)
                <br>
                При перепечатке текстовой информации и фотографий ссылка на сайт обязательна.
                <br>
        </div>
    </div>
</footer>