{% extends 'main/base.html' %}

{% block content %}
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" class="left-chapters">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип предметов
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% for card in cards %}
                        {% for class in itemclass %}
                                <li><a class="dropdown-item" href="#">{{class.rus_name}}</a></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </td>
    </tr>
</table>
<section class="card-list ms-5 ps-3 pb-5 d-flex flex-wrap justify-content-start">
    <ul class="card">
        {% for card in cards %}
        <div class="article-panel">

            <p class="last">Дата: {{card.time_create}}</p>
        </div>

            {% if card.photo %}
            <p><img class="img-article-left thumb" src="{{card.photo.url}}"></p>
            {% endif %}

            <h5>{{card.name}}</h5>
            <p>Был найден в {{card.place_found}}: {{card.time_found}}</p>
            {% autoescape on %}
            <p>Описание :{{card.content|linebreaks|truncatewords:20}}</p>
            {% endautoescape %}
            <div class="clear"></div>
            <p class="link-read-post"><a class="text-white float-right" href='{{ card.get_absolute_url }}'>Читать пост</a></p>
        {% endfor %}
    </ul>
</section>
{% endblock content %}