{% extends 'main/base.html' %}

{% block content %}
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
    <tr>
        <td valign="top" class="left-chapters">
            <div class="d-flex flex-column">
            <p class="ms-3 mb-0"> Отсортировать по</p>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Тип предметов
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'main' %}">Все предметы</a></li>
                    {% for class in itemclass %}
                        <li><a class="dropdown-item" href="{{ class.get_absolute_url }}">{{class.rus_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </td>
    </tr>
</table>

<section class="card-list d-flex flex-wrap justify-content-start">
{% for card in cards %}
    <ul class="card">

        <div class="article-panel">

            <p class="last">Дата: {{card.time_create}}</p>
        </div>
            {% if card.photo %}
            <p class="mt-4" style="padding-left: 30%;"><img class="img-article-left thumb"  src="{{card.photo.url}}"></p>
            {% endif %}
            <hr>
            <h5 class="card-entry">{{card.name}}</h5>
            <p class="card-entry">Был найден в {{card.place_found}}: {{card.time_found}}</p>
            {% autoescape on %}
            <p class="card-entry">Описание: {{card.content|truncatewords:20}}</p>
            {% endautoescape %}
            <div class="clear"></div>
            <p class="link-read-post"><a class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href='{{ card.get_absolute_url }}'>Просмотреть карточку</a></p>

    </ul>
{% endfor %}
</section>
{% endblock content %}