{% extends "base.html" %}
{% block content %}
<div>
    <div>

    </div>
    <div style="display: flex; background-color:#222222;">
        <div style="display: flex; flex-direction:column; height: 100%; align-items: stretch;">
            <square class="line-square" style="background-color:#00bb2f; height: 10px; display: block;"></square>
            <div style="background: rgba(128, 128, 128, .8);">
                <p style="margin: 15px 5px 15px 5px;">
                    {{ current_user.username }}
                </p>
            </div>
        </div>
    </div>
    <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin-top: 15px;">
        <div style="display:flex; flex-direction: column;">
            <p>Основная информация</p>
            <div style="display:flex; flex-direction: row; background-color:#222222; padding: 5px; margin: 5px;">
                <div>
                    <p style="margin: 15px;">Имя:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ current_user.username }}</p>
                </div>
            </div>
            <div style="display:flex; flex-direction: row; background-color:#222222; padding: 5px; margin: 5px;">
                <div>
                    <p style="margin: 15px;">Группа:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ current_user.IdGroup }}</p>
                </div>
            </div>
            <div style="display:flex; flex-direction: row; background-color:#222222; padding: 5px; margin: 5px;">
                <div>
                    <p style="margin: 15px;">Дата рождения:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ current_user.birthdate }}</p>
                </div>
            </div>
            <div style="display:flex; flex-direction: row; background-color:#222222; padding: 5px; margin: 5px;">
                <div>
                    <p style="margin: 15px;">Пол:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ current_user.sex }}</p>
                </div>
            </div>
            <div style="display:flex; flex-direction: row; background-color:#222222; padding: 5px; margin: 5px;">
                <div>
                    <p style="margin: 15px;">Страна:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ current_user.Country }}</p>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction: column;">
            <p>Дополнительная информация</p>
            <div style="display:flex; flex-direction: row; background-color:#222222; padding: 5px; margin: 5px;">
                <div>
                    <p style="margin: 15px;">E-mail:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ current_user.email }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}