{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div>
    {% if user.photo %}
    <div class="ms-md-5 profile-photo-on-page rounded-circle"
         style="background-image: url('{{user.photo.url}}');">
    </div>
    {% else %}
    <div class="ms-md-5 profile-photo-on-page rounded-circle"
         style="background-image: url('{% static 'main/images/defaultprof.jpeg' %}');">
    </div>
    {% endif %}
    <hr>
    <div style="display:flex; flex-direction: row; justify-content: space-evenly; margin-top: 15px;">
        <div style="display:flex; flex-direction: column;">
            <p>Основная информация</p>
            <hr>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">Имя пользователя:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.username }}</p>
                </div>
            </div>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">Имя:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.first_name }}</p>
                </div>
            </div>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">Отчество:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.middle_name }}</p>
                </div>
            </div>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">Фамилия:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.last_name }}</p>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction: column;">
            <p>Дополнительная информация</p>
            <hr>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">E-mail:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.email }}</p>
                </div>
            </div>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">Группа:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.group }}</p>
                </div>
            </div>
            <div class="profile_attr">
                <div>
                    <p style="margin: 15px;">Права:</p>
                </div>
                <div>
                    <p style="margin: 15px;">{{ user.role }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}