{% extends "main/base.html" %}

{% block title %}
Профиль пользователя {{ user.username }}
{% endblock %}

{% block content %}
<section class="pt-5 pb-5">
  <section class="ps-md-5 d-flex flex-column align-items-center">
    <h3 class="profile-title ms-4 mb-4 text-center">Профиль пользователя <b>"{{ user.username }}"</b></h3>
    <div class="ms-md-5 profile-photo-on-page rounded-circle"
         style="background-image: url('{{user.photo.url}}');">
    </div>
  </section>

  <div class="container-fluid bg-dark mt-5">
    <div class="row">
      <h3 class="user-info-title position-relative col-md-3 py-3 mb-0 bg-light-dark text-center">
        {{ user.username }}
      </h3>
      <hr class="mb-0">
    </div>
    <div class="row">
      <div class="col-md-6 container pt-3 bg-light-dark pb-4 px-4">
        <div class="row">
          <h5 class="ms-3 mb-3">Основная информация</h5>
        </div>
        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>Имя пользователя:</b></div>
          <div class="col-6">{{ user.username }}</div>
        </div>
        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>Фамилия:</b></div>
          <div class="col-6">{{ user.last_name }}</div>
        </div>
        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>Имя:</b></div>
          <div class="col-6">{{ user.first_name }}</div>
        </div>
        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>Отчество:</b></div>
          <div class="col-6">{{ user.middle_name }}</div>
        </div>
        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>Группа:</b></div>
          {% if user.is_authenticated and user.IdGroup == 2 %}
          <select name="user-groups" id="user-groups-select" class="form-select form-select-sm w-25"
                  onchange="location = this.value;">
            <option>user</option>
            <option>admin</option>
          </select>
          {% else %}
          <div class="col-6">{{ user.role.name }}</div>
          {% endif %}
        </div>

        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>E-mail:</b></div>
          <div class="col-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ user.email }}</div>
        </div>
        <div class="row bg-dark border border-secondary py-3">
          <div class="col-6"><b>Группа:</b></div>
          <div class="col-6" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ user.group }}</div>
        </div>
      </div>
    </div>
</section>
{% endblock %}