{% extends "main/base.html" %}
{% load static %}
{% block title %}
Профиль пользователя {{ user.username }}
{% endblock %}

{% block content %}
{% if request.user.pk != user.pk %}
<section class="pt-5 pb-5">
  <section class="ps-md-5 d-flex flex-column align-items-center">
    <h3 class="profile-title ms-4 mb-4 text-center">Профиль пользователя <b>"{{ user.username }}"</b></h3>
    {% if user.photo %}
    <div class="ms-md-5 profile-photo-on-page rounded-circle"
         style="background-image: url('{{user.photo.url}}');">
    </div>
    {% else %}
    <div class="ms-md-5 profile-photo-on-page rounded-circle"
         style="background-image: url('{% static 'main/images/defaultprof.jpeg' %}');">
    </div>
    {% endif %}
  </section>

  <div class="container-fluid  mt-5">
    <div class="row">
      <div class="col-md-6 container pt-3 bg-light-dark pb-4 px-4">
        <div class="row">
          <h5 class="ms-3 mb-3 ">Основная информация</h5>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>Имя пользователя:</b></div>
          <div class="col-6 text-light">{{ user.username }}</div>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>Фамилия:</b></div>
          <div class="col-6 text-light">{{ user.last_name }}</div>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>Имя:</b></div>
          <div class="col-6 text-light">{{ user.first_name }}</div>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>Отчество:</b></div>
          <div class="col-6 text-light">{{ user.middle_name }}</div>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>Роль:</b></div>
          {% if request.user.is_authenticated and request.user.role.pk == 1 and user.pk != request.user.pk %}
          <form action="{% url 'update_user' user.pk %}" method="post">
            {% csrf_token %}
          <select name="user_role" id="user-groups-select" class="form-select form-select-sm w-25">
            <option value="2">Пользователь</option>
            <option value="1">Администратор</option>
          </select>
            </form>
          {% else %}
          <div class="col-6 text-light">{{ user.role.name }}</div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6 container pt-3 bg-light-dark pb-4 px-4">
        <div class="row">
          <h5 class="ms-3 mb-3 ">Дополнительная информация</h5>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>E-mail:</b></div>
          <div class="col-6 text-light" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">{{ user.email }}</div>
        </div>
        <div class="row bg-secondary border border-dark py-3 mt-2">
          <div class="col-6 text-light"><b>Группа:</b></div>
          <div class="col-6 text-light" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ user.group }}</div>
        </div>
        </div>
    </div>
  </div>
  {% if request.user.role.pk == 1 %}
  <button type="submit" class="btn btn-secondary"><a class="link-light link-underline link-underline-opacity-0" href="{% url 'update_user' user.pk %}">Сохранить изменения</a></button>
  {% endif %}
</section>
{% else %}
<meta http-equiv="refresh" content="0;URL={% url 'main' %}">
{% endif %}
{% endblock %}